 *{
    margin: 0;
    padding: 0;
    color:#34F30F;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
}
.background{
    width: 40%;
    height: 460px;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 12px;
    background: linear-gradient(to right, #34F30F, #0073ff);
}
.generator{
    background-color: #111111;
    width: 100%;
    height: 100%;
    border-radius:10px;
    padding-inline: 30px;
}
#heading{
    display: flex;
    justify-content: center;
    user-select: none;
}
img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
h1{
    padding-block: 25px;
}
div.password{
    display: grid;
    grid-template-columns: auto min-content;
    border-radius:10px;
    overflow: hidden;
}
div.password input{
    padding: 8px 12px;
    background-color: #1E1E1E;
    border: 0;
    letter-spacing: 2px;
}

button{
    cursor: pointer;
}
button i{
    color: black;
    font-weight: 900;
    font-size: 20px; 
}
button i:active{
    transform: scale(0.9);
}
.btn-circle{
    padding: 1px;
    border-radius: 8px;
    transition: 0.5s;

}
.btn-circle:hover{
    background: linear-gradient(to left, #34F30F, #0073ff);
}
.btn-circle:active{
    transform: scale(1.05);
}

button{
    background-color: #2bff00;
    color:black;
    text-transform: uppercase;
    padding: 5px 15px;
    border:0;
    border-radius:10px;
    font-weight: 700;   
}
div.password button{
    border-radius:0;
}

div.range{
    margin: 20px 0PX;
    display: flex;
    grid-template-columns: 1fr min-content;
    justify-content: center;
    align-items: center;
    
}
div.range span{
    background-color: #34F30F;
    padding: 6px 25px;
    margin-left: 10px;
    width:72px;
    text-align: center;
    border-radius:10px;
    color: #111111;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

    /* Remove default styles */
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 10px;
        background:#1E1E1E;
        border-radius: 12px;
        outline: none;
        margin: 10px 0;
    }

    /* Custom styles for the thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #34F30F;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #34F30F;
        border-radius: 50%;
        cursor: pointer;
    }

    /* ----- OPTIONS SECTION ------ */
    
    #optain-container{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
    div.options{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        justify-content: center;
        user-select: none;  
    }
    div.options label{
        display: block;
        background-color:#1E1E1E ;
        padding-block: 10px;
        border-radius:10px;
        cursor: pointer;
        width: 150px;
        transition: 0.5s;    
        
    }

    div.options span{
        color: rgb(0, 0, 0);
        font-weight: 700;
        color: #2bff00;
     
    }
 
    button.generate{
        width: 50%;
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 30px;
        transition: 0.3s ease-in-out;
        background: linear-gradient(to right, #2bff00, #0073ff);
        font-size: large;
        font-weight: 900;
        border-radius: 12px;
        letter-spacing: 2px;
        user-select: none;
    }
    button.generate:hover{
        transform: scale(0.95);
    }

    #social-section{
        padding-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #social-section i{
        transition: 0.3s ease-in-out;
    }
    #social-section i:hover{
        color: #0073ff;
        transform: scale(1.2);
    }

    /**========= MEDIA QUERYES =========**/

    
    @media screen and (max-width:770px) {
        
        body{
            height: 600px;
        }
        .background{
            width: 95%;
            height:1200px;
            display: flex;
            align-items: center;
            padding: 5px 1px;
            justify-content: center;
            margin-top: 100px;
        }
        .generator{
            padding-inline: 10%;
        }
        div.password input{
            width: 100%;
           
        }
        div.range{
            margin: 30px 0PX;
        }
        div.range span{
            padding: 6px 0px;
            margin-left: 10px;
        }
        #optain-container{
            padding-bottom: 20px;
        }
        div.options{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;    
            
        }
        div.options label{
            padding-block: 15px;
            border-radius:10px;
            cursor: pointer;
            width: 280px;
            transition: 0.5s;    
            
        }
        div.options span{
            font-size: 20px;
         
        }
        button.generate{
            width: 250px;
            margin-top: 10px;
            padding: 10px;
            font-size: 24px;
            border-radius: 8px;
        }
        .btn-circle:hover{
            background:none;
        }
        button.generate:hover{
            transform:none;
        }
        button.generate:active{
            transform:scale(0.9);
        }
    }

    

    @media screen and (min-width:770px){

        .background{
            margin-top: 20px;
            width: 70%;
            height:600px;
        }

        .generator{
            padding-inline: 20%;

        }

        div.options label{
            width: 300px;
            padding: 15px;
            
        }
        div.options span{
            font-size: 24px;
         
        }
        @media screen and (max-width:1000px){
            div.options label{
                width: 230px;
                padding: 15px;
                
            }
            div.options label{
                display: block;
                background-color:#1E1E1E ;
                padding-block: 0px;
                border-radius:10px;
                cursor: pointer;
                width: 150px;
                transition: 0.5s;    
                
            }
        }

    }
