 *{
    margin: 0;
    padding: 0;
    color:#34F30F;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
}
.background{
    width: 40%;
    height: 460px;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 12px;
    background: linear-gradient(to right, #34F30F, #0073ff);
}
.generator{
    background-color: #111111;
    width: 100%;
    height: 100%;
    border-radius:10px;
    padding-inline: 30px;
}
#heading{
    display: flex;
    justify-content: center;

}
img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
h1{
    padding-block: 25px;
}
div.password{
    display: grid;
    grid-template-columns: auto min-content;
    border-radius:10px;
    overflow: hidden;
}
div.password input{
    padding: 8px 12px;
    background-color: #1E1E1E;
    border: 0;
    color: #0073ff;
}
.btn-circle{
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(to right, #34F30F, #0073ff);

}
.btn-circle:hover{
    background: linear-gradient(to right, #34F30F, #0073ff);
}
button{
    background-color: #34F30F;
    color:black;
    text-transform: uppercase;
    padding: 5px 15px;
    border:0;
    border-radius:10px;
    font-weight: 700;
}
div.password button{
    border-radius:0;
}

div.range{
    margin: 20px 0PX;
    display: flex;
    grid-template-columns: 1fr min-content;
    justify-content: center;
    align-items: center;
    
}
div.range span{
    background-color: #34F30F;
    padding: 6px 25px;
    margin-left: 10px;
    min-width:72px;
    text-align: center;
    border-radius:10px;
    color: #111111;
    cursor: pointer;
    font-weight: 600;
}

    /* Remove default styles */
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 10px;
        background:#1E1E1E;
        border-radius: 12px;
        outline: none;
        margin: 10px 0;
    }

    /* Custom styles for the thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #34F30F;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #34F30F;
        border-radius: 50%;
        cursor: pointer;
    }

    /* ----- OPTIONS SECTION ------ */
    
    #optain-container{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
    div.options{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        justify-content: center;
        
    }
    div.options label{
        display: block;
        background-color:#1E1E1E ;
        padding-block: 10px;
        border-radius:10px;
        cursor: pointer;
        width: 150px;  
        transition: 0.5s;    
        
    }

    div.options span{
        color: rgb(0, 0, 0);
        font-weight: 700;
        color: #2bff00;
     
    }
 
    button.generate{
        width: 50%;
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 30px;
        transition: 0.3s ease-in-out;
        background: linear-gradient(to right, #2bff00, #0073ff);
        font-size: large;
        font-weight: 700;
        border-radius: 12px;

    }
    button.generate:hover{
        transform: scale(0.95);

    }

    #social-section{
        padding-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #social-section i:hover{
        color: #0073ff;
    }